$bg: #eef1f3;
$bg-dark: #eff1f5;
$text: #333;
$blue: #0674ec;
$red: #ff6a6c;
$green: #62d03b;
$bg-logo: #7c7979;
$white: #f3f3f8;
$gray-text: #676767;
$bg-tag: #f1f3f6;
$border: #ececec;
$magenta: #7347c1;