$bg: #eef1f3;
$bg-dark: #eff1f5;
$bg-light: #f6f7fb;
$text: #333;
$lighttext: #555;
$blue: #0674ec;
$red: #ff6a6c;
$green: #62d03b;
$bg-logo: #7c7979;
$white: #f3f3f8;
$gray-text: #676767;
$bg-category: #f1f3f6;
$text-category: #747b86;
$border: #ececec;
$magenta: #7347c1;
$lightwhite: #e6f1fd;
$lightorange: #feb71d;
$lightblue: #58c9e9;
$lightgreen: #77de51;
$lightred: #ff6a6d;
$lightmagenta: #7f4ec2;