@import 'vars';
@import 'global';

// start header
.header__top{
	background-color: $bg;
}
.header__top-inner{
	height: 100px;
	justify-content: space-between;
	@include flex; 
}
.header__logo{
	font-size: 30px;
	a{
		color: #000;
		font-weight: 700;
		line-height: 24px;
		justify-content: flex-start;
		@include flex; 
	}
	span{
		color: $blue;
	}
	img{
		margin-right: 7px;
	}
}
.header__status{
	height: 100%;
	justify-content: space-between;
	@include flex; 
}
.header__seller{
	font-size: 14px;
	line-height: 28px;
	background-color: $blue;
	height: 36px;
	padding: 4px 20px;
	border-radius: 20px;
	color: #fff;
	margin-right: 50px;
}
.whitehover{
	transition: all .5s;
	border: 1px solid;
}
.whitehover:hover{
	@include active;
}
.header__info-icon{
	font-family: 'Linearicons';
	color: #7e8fa1;
	font-size: 20px;
	position: relative;
	& + & {
		margin-left: 32px;
	}
}
.header__info-count{
	position: absolute;
	height: 22px;
	min-width: 22px;
	top: -13px;
	left: 100%;
	transform: translate(-40%);
	border-radius: 22px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	padding: 1px 6px;
}
.count-red{
	background-color: $red;
}
.count-green{
	background-color: $green;
}
.count-blue{
	background-color: $blue;
}
.header__user{
	margin-left: 52px;
	@include flex; 
	&-logo{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $bg-logo;
	}
	&-acc{
		margin-left: 22px;
		font-weight: 500;
		a{
			display: block;
			color: $blue;
		}
	}
}
.header__menu{
	background-color: #fff;
}
.header__menu-inner{
	height: 80px;
	@include flex; 
	justify-content: space-between;
}
.header__menu-menu{
	@include flex; 
	justify-content: space-between;
	ul{
		display: flex;
		a{
			font-size: 15px;
			line-height: 42px;
			font-weight: 700;
			text-transform: uppercase;
			color: $text;
		}
		li + li {
			margin-left: 25px;
		}
	}
}
.header__menu-search{
	width: 358px;
	height: 44px;
	position: relative;
	font-size: 15px;
	input{
		padding-left: 25px;
		padding-right: 70px;
		border: 1px solid #d9dfe5;
		border-radius: 22px;
		height: 44px;
		width: 100%;
		outline: none;
		line-height: 30px;
		outline: none;
		&::placeholder{
			color: #898f96;
		}
	}
	button{
		@include btn;
		background-color: $blue;
		width: 70px;
		height: 100%;
		font-family: 'Linearicons';
		position: absolute;
		right: 0;
		border-radius: 22px;
		line-height: 44px;
		color: #fff;
	}
}
// end header

// start top
.top{
	background-image: linear-gradient( 270deg, rgb(0,48,222) 0%, rgb(23,69,237) 54%, rgb(46,90,251) 100%);
}
.top__inner{
	padding: 182px 0 220px;
	text-align: center;
	position: relative;
	&-text{
		color: $white;
		font-size: 60px;
		margin-bottom: 68px;
		line-height: 66px;
		span{
			font-size: 20px;
			line-height: 26px;
			display: inline-block;
		}
		h1{
			font-weight: 700;
			margin: 15px 0;
			font-size: 60px;
			display: block;
			line-height: 66px;

		}
	}
	&-btn{
		button{
			@include btn;
			padding: 0 32px;
			height: 54px;
			border: 1px solid #fff;
			border-radius: 27px;
			margin: 15px 30px;
			background-color: transparent;
			color: #fff;
			font-size: 16px;
		}
	}
}
.top__search{
	position: absolute;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
	width: 100%;
	top: 100%;
	transform: translate(0, -50%);
	&-inner{
		position: relative;
		height: 100%;
		width: 100%;
		padding: 42px 40px;
		font-size: 16px;
		form{
			display: flex;
			justify-content: stretch;
			font-size: 16px;
			color: $gray-text;
		}
		button{
			@include btn;
			height: 56px;
			padding: 0 68px;
			border: 1px solid #fff;
			background-color: $blue;
			color: #fff;
			border-radius: 4px;
			margin-left: 32px;
		}
		input{
			width: 100%;
			height: 55px;
			border-radius: 6px;
			border: 1px solid #dcdcdc;
			padding: 0 28px;
		}
	}
	&-bg1{
		position: absolute;
		border-radius: 6px;
		background-color: #fff;
		opacity: 0.502;
		top: -15px;
		left: 15px;
		right: 15px;
		height: 25px;
	}
	&-bg2{
		position: absolute;
		border-radius: 6px;
		background-color: #fff;
		opacity: 0.502;
		top: -30px;
		left: 30px;
		right: 30px;
		height: 40px;
	}
}	
// end top

// start exellence
.excellence{
	background-color: #fff;
}
.excellence__inner{
	display: flex;
	justify-content: space-between;
	padding: 185px 0 125px;
}
.excellence__item{
	text-align: center;
	max-width: 360px;
	padding: 42px 35px 52px;
	&:hover{
		border-radius: 4px;
		box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	}
	&-image{
		width: 112px;
		height: 112px;
		@include bg_contain;
		display: inline-block;
		margin-bottom: 35px;
	}
	&-title{
		font-size: 24px;
		color: #000;
		margin-bottom: 25px;
	}
}
// end exellence

// start featured
.feature{
	background-color: $bg-dark;
	padding: 118px 0;
}
.title__box{
	height: 112px;
	background-color: #fff;
	@include flex; 
	padding: 10px 30px;
	border-radius: 4px;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	justify-content: space-between;
	&-title{
		font-size: 30px;
		color: #000;
	}
	&-buttons{
		background-color: $magenta;
		width: 110px;
		height: 44px;
		border-radius: 22px;
		
	}
}
.feature__inner{
	margin-top: 50px;
	border-radius: 4px;
	box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
	.slick-slide{
		outline: none;
	}
	.slick-prev{
		left: auto;
		right: 106px;
		top:-106px;
	}
	.slick-next{
		left: auto;
		right: 50px;
		top:-106px;
	}
	.slick-arrow{
		position: absolute;
		color: #fff;
		font-size: 14px;
		font-family: 'Linearicons';
		z-index: 5;
		text-align: right;
		&:before{
			display: none;
		}
	}
}
.feature__item{
	display: flex;
	background-color: #fff;
	border-radius: 4px;
	overflow: hidden;
	&-image{
		@include bg_contain;
		background-size: cover;
		width: 50%;
	}
	&-def{
		flex: 1;
		padding: 50px 50px 0;
	}
	&-title{
		font-size: 24px;
		font-weight: 500;		
	}
	&-info{
		margin-top: 22px;
		margin-bottom: 32px;
		@include flex; 
	}
}
.item__author{
	@include flex; 
	margin-right: 20px;
	&-icon{
		width: 32px;
		height: 32px;
		border-radius: 50%;
		@include bg_contain;
		display: inline-block;
		margin-right: 10px;
	}
	&-name{
		font-size: 15px;
		color: #000;
	}
}
.product__category{
	color: $magenta;
	&-icon{
		width: 16px;
		height: 16px;
		display: inline-block;
		margin-right: 8px;
	}
	&-name{
		font-size: 15px;
		display: inline-block;
	}
}
.product__tags{
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-bottom: 44px;
}
.product__tag{
	height: 30px;
	padding: 0 16px;
	background-color: $bg-category;
	color: $text-category;
	border-radius: 15px;
	margin-right: 8px;
	border: none;
	outline: none;
	@include flex;
}
.feature__item-summary{
	height: 80px;
	justify-content: space-between;
	border-top: 1px solid $border;
	@include flex; 
}
.feature__item-price{
	background-color: $blue;
	color: #fff;
	height: 32px;
	padding: 4px 18px;
	border-radius: 16px;
	font-weight: 500;
	margin-right: 20px;
	display: inline-block;
}
.wish{
	@include flex;
	height: 30px;
	color: #555;
	margin-right: 20px;
	padding-left: 22px;
	position: relative;
	&::before{
		position: absolute;
		content: 'heart';
		font-family: 'Linearicons';
		color: #7347c1;
		left: 0;
	}
}
.cart{
	@include flex;
	height: 30px;
	color: $blue;
	padding-left: 24px;
	position: relative;
	&::before{
		position: absolute;
		content: 'cart';
		font-family: 'Linearicons';
		color: $blue;
		left: 0;
	}
}
.rate{
	@include flex;
	height: 30px;
}
// end featured

// start products
.products{
	background-color:  $bg-light;
	padding: 120px 0;
	text-align: center;
}
.products__categories{
	@include flex;
	padding: 30px;
    border-radius: 4px;
	box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
	background-color: #fff;
	margin: 30px 0 50px;
	.product__tag{
		cursor: pointer;
	}
}
.mixitup-control-active{
	@include blue-active;
}
.products__inner{
	@include flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product__item{
	background-color: #fff;
	max-width: 360px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
	margin: 0 0 30px;
	&:hover &-buttons{
		display: flex;
	}
	& > a{
		display: block;
	}
	&-image{
		height: 230px;
		position: relative;
	}
	&-buttons{
		position: absolute;
		@include flex;
		justify-content: center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;	
		display: none;
	}
	&-title{
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	&-def{
		padding: 30px 30px 35px;
	}
	&-info{
		@include flex;
		margin-bottom: 34px;
	}
	&-summary{
		@include flex;
		padding: 15px 30px 17px;
		justify-content: space-between;
		border-top: 1px solid $border;
		align-items: flex-start;
	}
	&-price{
		height: 30px;
		border-radius: 15px;
		background-color: $lightwhite;
		justify-content: center;
		padding: 0px 15px;
		font-size: 15px;
		line-height: 30px;
		font-weight: 500;
		@include flex;
		margin-right: 14px;
		color: $blue;
	}
	.wish{
		margin-right: 16px;
		font-size: 15px;
		line-height: 30px;
	}
	.cart{
		font-size: 15px;
		line-height: 30px;
		margin-right: 0;
	}
}
.rate-small{
	@include flex;
	height: 30px;
}
.flex{
	@include flex;
	flex-wrap: wrap;
}
.action__btn{
	height: 44px;
	border-radius: 24px;
	padding: 0px 30px;
	border: 1px solid #fff;
	color: #fff;
	background-color: transparent;
	margin: 5px;
	cursor: pointer;
}
.products__all-btn{
	@include btn;
	height: 54px;
	border-radius: 27px;
	@include blue-active;
	padding: 0px 32px;
	margin: 25px auto 0;
	outline: none;
}
.products__all-btn:hover{
	@include active;
}
// end products

// start followers
.followers{
	padding: 120px 0;
	background-color: $bg-dark;
	.title__box-buttons{
		background-color: $blue;
	}
}
.followers__inner{
	margin-top: 50px;
	.slick-slide{
		outline: none;
	}
	.slick-prev{
		left: auto;
		right: 106px;
		top:-106px;
	}
	.slick-next{
		left: auto;
		right: 50px;
		top:-106px;
	}
	.slick-arrow{
		position: absolute;
		color: #fff;
		font-size: 14px;
		font-family: 'Linearicons';
		z-index: 5;
		text-align: right;
		&:before{
			display: none;
		}
	}
}
// end follorers

// start totals
.totals{
	background-color: #212225;
}
.totals__inner{
	@include flex;
	justify-content: space-between;
	padding: 90px 0 95px;
}
.total__item{
	text-align: center;
	&-icon{
		font-family: 'Linearicons';
		font-size: 48px;
		line-height: 36px;
		margin-bottom: 50px;
	}
	&-value{
		font-size: 36px;
		line-height: 36px;		
	}
	&-briefcase{
		color: $lightorange;
	}
	&-cloud{
		color: $lightblue;
	}
	&-smile{
		color: $lightgreen;
	}
	&-users{
		color: $lightred;
	}
	&-title{
		color: #fff;
		font-size: 18px;
		line-height: 36px;
	}
}
// end totals

// start advantages
.title{
	font-size: 36px;
	line-height: 28px;
	color: #000;
	text-align: center;
	span{
		color: $blue;
	}
}
.desc{
	line-height: 30px;
	max-width: 675px;
	text-align: center;
}

.advantages{
	background-color: #fff;
	padding: 112px 0 120px;
	&-title{
		margin-bottom: 35px;
	}
	&-brief{
		margin: 0 auto;
		font-size: 16px;
		line-height: 30px;
		max-width: 680px;
		text-align: center;
		color: $lighttext;
		margin-bottom: 55px;
	}
}
.advantages__inner{
	@include flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.advantages__item{
	max-width: 360px;
	width: 100%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	padding: 50px 30px 60px;
	margin-bottom: 30px;
	position: relative;
	&-title{
		font-size: 24px;
		color: #000;
		margin-bottom: 30px;
	}
	&-text{
		color: $lighttext;
	}
	&-icon{
		font-size: 60px;
		line-height: 60px;
		margin-bottom: 45px;
		font-family: 'Linearicons';
	}
	&-icon1{
		color:$blue;
	}
	&-icon2{
		color:$lightmagenta;
	}
	&-icon3{
		color:$lightgreen;
	}
	&-icon4{
		color: $lightorange;
	}
	&-icon5{
		color:$lightblue;
	}
	&-icon6{
		color:$lightred;
	}
	&-number{
		position: absolute;
		opacity: .2;
		color: #5c87f8;
		font-size: 48px;
		top: 20px;
		left: 20px;
	}
}
// end advantages

// start start
.start__inner{
	display: flex;
}
.start__item{
	padding: 0 15px;
	display: inline-block;
	width: 50%;
	@include bg_contain;
	background-size: cover;
	background-size: 960px 560px;
	text-align: center;
	color: #fff;
	&-sell{
		background-image: url(../images/sell-bg.jpg);
		button{
			color: $blue;
		}
	}
	&-buy{
		background-image: url(../images/buy-bg.jpg);
		button{
			color: $magenta;
		}
	}
	&-icon{
		margin: 100px auto 50px;
		width: 125px;
		height: 105px;
		@include bg_contain;
	}
	&-title	{
		font-size: 36px;
		line-height: 30px;
	}
	&-text{
		margin: 30px auto 45px;
		line-height: 30px;
		max-width: 590px;
	}
	&-button{
		margin-bottom: 100px;
		@include btn56;
		background-color: #fff;
		&:hover{
			@include blue-active;
		}
	}
}
// end start

// start feedback
.feedback{
	padding: 120px 0;
	text-align: center;
	&-title{
		margin-bottom: 35px;
	}	
	&-desc{
		margin: 0 auto 60px;
	}
	&-btn{
		@include btn56;
		@include blue-active;
		padding: 0px 35px;
		margin: 60px auto 0;
		&:hover{
			@include active;
		}
	}
}
.feedback__inner{
	@include flex;
	justify-content: space-between;
}
.feedback__item{
	padding: 50px 40px;
	border-radius: 4px;
	box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	position: relative;
	max-width: 555px;
	width: 100%;
	padding-right: 60px;
	&::before{
		content: '';
		position: absolute;
		height: 100%;
		width: 2px;
		background-color: $blue;
		left: 0;
		top: 0;
	}
	&-title{
		margin-bottom: 30px;
		position: relative;
		&::after{
			top: 0;
			right: 0;
			position: absolute;
			content: 'bubble';
			font-family: 'Linearicons';
			font-size: 60px;
			color: #e8e8e8;
			line-height: 60px;
		}
	}
	&-icon{
		width: 80px;
		height: 80px;
		border-radius: 50%;
		@include bg_contain;
		display:inline-block;
		 vertical-align:middle;
		 margin-right: 18px;
	}	
	&-name{
		height: 100%;
		display:inline-block;
		vertical-align:middle;
		font-size: 20px;
		color: #000;
	}
	&-position{
		margin-top: 10px;
		font-size: 16px;
		color: $lighttext;
	}
	&-text{
		color: $lighttext;
		line-height: 30px;	
	}
}
// end feedback

// start news
.news{
	background-color: $bg-dark;
	text-align: center;
	&-title{
		margin-bottom: 35px;
	}
	&-desc{
		margin: 0 auto 60px;
	}
	padding: 120px 0;
}
.news__inner{
	@include flex;
	justify-content: space-between;
	align-items: flex-start;
}
.news__item{
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
	overflow: hidden;
	max-width: 361px;
	width: 100%;
	&-img{
		height: 230px;
		@include bg_contain;
		background-size: cover;
	}
	&-content{
		padding: 30px;
		border-bottom: 1px solid $border;
		text-align: left;
		//max-height: 186px;
		//height: 100%;
		//overflow: hidden;
	}
	&-title{
		font-weight: 500;
		font-size: 22px;
		color: #000;
		margin-bottom: 30px;
	}
	&-text{
		color: $lighttext;
		line-height: 30px;
	}
	&-fotter{
		@include flex;
		padding: 14px 30px;
		justify-content: space-between;
		position: relative;
	}
	&-statistics{
		width: 50%;
		padding-left: 34px;
		@include flex;
		justify-content: space-between;
		border-left: 1px solid $border;
	}
	&-date{
		width: 50%;
		padding-right: 34px;
	}
}

.date{
	@include flex;
	height: 30px;
	color: #999999;
	padding-left: 24px;
	position: relative;
	font-size: 15px;
	line-height: 30px;
	display: inline-block;
	&::before{
		position: absolute;
		font-size: 15px;
		line-height: 30px;
		content: 'clock';
		font-family: 'Linearicons';
		color: $blue;
		left: 0;
	}
}

.comments{
	@include flex;
	height: 30px;
	color: #7e7e7e;
	padding-left: 24px;
	position: relative;
	font-size: 15px;
	line-height: 30px;
	display: inline-block;
	&::before{
		position: absolute;
		content: 'bubble';
		font-size: 15px;
		line-height: 30px;
		font-family: 'Linearicons';
		color: #7e7e7e;
		left: 0;
	}
}
.views{
	@include flex;
	height: 30px;
	color: #7e7e7e;
	padding-left: 24px;
	position: relative;
	font-size: 15px;
	line-height: 30px;
	display: inline-block;
	&::before{
		position: absolute;
		content: 'eye';
		font-size: 15px;
		line-height: 30px;
		font-family: 'Linearicons';
		color: #7e7e7e;
		left: 0;
	}
}
// end news

// strt guarantee
.guarantee{
	background-color: #fff;
}
.guarantee__inner{
	&-left,
	&-right{
		font-size: 24px;
		color: #000;
		text-align: center;
		display: inline-block;
		width: 49%;
	}
	&-left{
		padding: 65px 45px 60px 0;
		border-right: 1px solid $border;
		span{
			color: $blue;
		}
	}
	&-right{
		padding: 65px 0 60px 45px;
		span{
			color: $magenta;
		}
	}
}
.guarantee-image{
	width: 160px;
	height: 120px;
	@include bg_contain;
	margin: 0 auto 30px;
}
// end guarantee

// start joinus
.joinus{
	background-image: linear-gradient( 270deg, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
}
.joinus__inner{
	padding: 112px;
	text-align: center;
	&-title{
		font-size: 36px;
		color: #fff;
	}
	&-text{
		margin: 22px 0px 50px;
		color: #e7e7e7;
		font-size: 18px;
	}
	button{
		@include btn56;
		padding: 0 45px;
		@include active;
		&:hover{
			@include blue-active;
		}
	}
}
// end joinus